.headLinks:hover {
    color: #9b27b0;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.1), 0 0 0.45em #9b27b0;
}

.skillIcons i:hover {
    color: #9b27b0;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.1), 0 0 0.45em #9b27b0;
}

.aboutText:hover {
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.1), 0 0 0.45em #9b27b0;
}

.anOnScroll {
    opacity: 0;
    transform: translateX(-300px);
    animation: all .7s ease-out;
    transition-delay: 0.2s;
}


@keyframes slideMe {
    0% {
        transform: skewX(53deg) translateX(-500px);
    }
    60% {
        transform: translateX(0px);
    }
    62% {
        transform: skewX(0deg) translateX(30px);
    }
    70% {
        transform: skew(-20deg);
        opacity: 1;
    }
    80% {
        transform: skew(0deg) translate(0);
    }
    90% {
        transform: skew(-5deg);
    }
    100% {
        transform: skew(0deg);
    }
}