/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Header Styles */
.header {
    position: fixed;
    width: 100vw;
    padding: 0.3125rem;
    top: 0px;
    justify-content: space-between;
    z-index: 1;
}

.header ul > li {
    margin-right: 3.125rem;
    list-style-type: none;
}

.darkModeBtn {
	background: none;
	border: none;
	cursor: pointer;
}

/* Hero Styles */
.hero {
    background-image: url(./Assets/TruckingGreenCar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}

.title {
    padding: 1.25 6.25rem;
    width: 100%;
}

.title2 {
    width: 50%;
}

.title2 h1 {
    font-size: 5rem;
}

/* About Styles */
.aboutMe {
    min-height: 70vh;
}

.card {
    width: 90%;
}

.imgCon {
    justify-content: space-between;
}

.imgCon img {
    height: 18.75rem;
    border-radius: 10px;
}

.heritage {
    background-image: url(./Assets/TrafficJam.jpg);
}

/* Skill Styles */
.techCon {
    min-height: 70vh;
}

.skillIcons {
    justify-content: space-between;
}

.skillIcons i {
    font-size: 7.5rem;
}

.indianapolis {
    background-image: url(./Assets/indianapolis1.jpg);
}

/* Projects Styles */
.projects {
    height: 90vh;
}

.projectsCard {
    width: 80%;
}

.contentCon {
    border-bottom: 3px solid rgb(169, 169, 169);
    padding: 1.875rem;
}

.cardLeft {
    flex: 2;
}

.textCon {
    width: 80%;
}

.cardRight {
    flex: 1;
}

.repoLinks {
    text-decoration: none;
}

.cardRight img {
    box-shadow: 9px 9px 9px #009305af;
    border-radius: .3125rem;
}

.contactMe {
    height: 30vh;
}

.contactSize {
    width: 50%;
}

/* Contact Styles */
.contact {
    justify-content: space-evenly;    
}

.contact li {
    list-style-type: none;
}

.emptyRoad {
    background-image: url(./Assets/EmptyRoad.jpg);
}

/* Utility Classes */

/* Centering Styles */
.flex {
    display: flex;
}

.just {
    justify-content: center;
}

.ali {
    align-items: center;
}

.textAli {
    text-align: center;
}

/* Margin Top Styles */
.mt-20 {
    margin-top: 1.25rem;
}

.mt-40 {
    margin-top: 2.5rem;
}

/* Font Colors */
.greenText {
    color: #009305
}

.purpleText {
    color: #9b27b0;
}

.blackText{
    color: rgb(67, 67, 67);
}

.whiteText {
    color: rgb(211, 211, 211);
}

/* Font Sizes */
.largeText {
    font-size: 4.375rem;
}

.headText {
    font-size: 2.25rem;
    text-decoration: none;
}

.smallText {
    font-size: 1.75rem;
}

.projectTitleText {
    font-size: 3.4375rem;
}

.projectSubText {
    font-size: 1.375rem;
}

/* Parallax Scroll */
.parallax {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 500px;
    min-width: 100%;
} 

.headBackColorWhite {
    background-color: rgba(255, 255, 255, 0.751);
}

.headBackColorBlack {
    background-color: rgba(67, 67, 67, 0.773);
}